@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Twemoji inline images */
img.emoji {
  height: 1.2em;
  width: 1.2em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.2em;
  display: inline;
}
